/*
@import "../node_modules/susy/sass/susy",
        "../node_modules/layout-tools-for-susy/stylesheets/layout-tools-for-susy";
*/
@import "../node_modules/susy/sass/_susy.scss";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
	
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-mincer";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/test";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";

//@import "../partials/bootstrapmqs";
@import "../partials/susyConfig"; 
@import "../partials/overrides";  

$primary-color: #f00; 

/*	.ag{
		display:none 
	}*/
.full{
		@include span(full);    
}
#title {
	color: $primary-color; 
	margin-bottom: 100px;
}
.item {
	@include span(3 of 9);
}
.item1,
.item2 {
	@include span(3 of 9);
	transition: all 1.5s ease-in-out ;
}
.item3 {
	@include span(3 of 9 last);
		transition: all 1.5s ease-in-out ;
}
body {
	padding:10px;
	h2 {
		color: blue;
		margin-bottom: 5px;
	}
}
.container{
	display:block;
}
.holder {
	background: #ccc;
	@include span(12 of 12 last);
	margin-bottom: 10px;
}
.frog {
	background: #f00;
	@include span(12 of 12 last)
}

/**
 - Styles for AG grids & Container
 */

$exSmall: 0 480px;
$small: 480px 600px;
$medium: 600px 900px;
$large: 900px 1200px;
$exLarge: 1200px 5000px;
body {
	background-color: #fbeecb;
		transition: all 1.5s ease-in-out ;

	@include breakpoint($exSmall) { 
		background: #f00;
	}
	@include breakpoint($small) {
		background: #ff0;
	}
	@include breakpoint($medium) { 
		background: #f0f;
	}
	@include breakpoint($large) {
		background: #0ff;
	}
	@include breakpoint($exLarge) {
		background: #00f;
	}
}
/*
joomla layout  
*/
	@include breakpoint($exSmall) { 
	}
	@include breakpoint($small) {
	}
	@include breakpoint($medium) { 
		#left-sidebar{
				@include span(3 of 12); 
			background: #888;
		}
		  
		#content{
			@include span(6 of 12);
			@include clearfix;
			background: #aaa;
		}
		
		#right-sidebar{
				@include span(3 of 12 last);
			background: #ddd;
		}
	}
	@include breakpoint($large) {
	}
	@include breakpoint($exLarge) {
	}

/*
END joomla layout
*/
.ag1,
.ag3 {
	background-color: #71dad2;
}
.ag2 {
	background-color: #fae7b3;
}
.ag4,
.ag5,
.ag8,
.ag9 {
	background-color: #ee9e9c;
}
.ag6 {
	background-color: #f09671;
}
.ag7 {
	background-color: #f6d784;
}
.ag10 {
	background-color: #ea9fc3;
}

/**
 - Text Styles
 */

h2 {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}
.ag1 {
	@include span(2 of 10);
		transition: all 1.5s ease-in-out ;
}
.ag2 {
	@include span(6 of 10);
	@include clearfix;
		transition: all 1.5s ease-in-out ;
}
.ag3 {
	@include span(2 of 10 last);
		transition: all 1.5s ease-in-out ;
}
.ag4 {
	@include span(4 of 10);
		transition: all 1.5s ease-in-out ;
}
.ag5 {
	@include span(4 of 10 last);
		transition: all 1.5s ease-in-out ;
}
.ag6 {
	@include span(2 of 6);
		transition: all 1.5s ease-in-out ;
}
.ag7 {
	@include span(4 of 6 last);
		transition: all 1.5s ease-in-out ;
	@include clearfix;
}
.ag8 {
	@include span(2 of 4);
		transition: all 1.5s ease-in-out ;
}
.ag9 {
	@include span(2 of 4 last);
		transition: all 1.5s ease-in-out ;
}
.ag10 {
	//clear: both;
	// Alternatively, you can now use the span mixin with the full keyword to tell Susy this should be a 100% width
	@include span(full);
}
.simonL {
	@include span(1 of 2);
		transition: all 1.5s ease-in-out ;
}
.simonR {
	@include span(1 of 2 last);
		transition: all 1.5s ease-in-out ;
}

/*exSmall*/

@include breakpoint($exSmall) {
	.ag,
	.item,
	.item1,
	.item2,
	.item3,
	.simonL,
	.simonR {
	
		@include span(full);
		padding: 5px 0px;
			transition: all 1.5s ease-in-out ;
	}
	
}

/*small*/
@include breakpoint($small) {
.item,
.item1,
.item2,
.item3,
.simonL,
.simonR {
		transition: all 1.5s ease-in-out ;
		@include span(1 of 2);
		@include container(90%);
		padding: 5px 0px;
		margin-left: 5%;
	}
	.item3{
		@include span(1 of 1 last);
	}
	.ag1 {
			@include span(full);
		transition: all 1.5s ease-in-out ;
	}
	.ag3 {
			@include span(full);
		transition: all 1.5s ease-in-out ;
	}
	.ag2 {
		@include span(full);
		transition: all 1.5s ease-in-out ;
	}	
}

/*medium*/

@include breakpoint($medium) {
	
	.ag1 {
		@include span(6 of 12);
		transition: all 1.5s ease-in-out ;
	}
	.ag3 {
		@include span(6 of 12 last);
		transition: all 1.5s ease-in-out ;
	}
	.ag2 {
		@include span(full);
		transition: all 1.5s ease-in-out ;
	}

}

/*large*/

@include breakpoint($large) {
		.ag2{
		@include clearfix;
	}
	.item1 {
		@include span(1 of 2);
		transition: all 1.5s ease-in-out ;
	}
	.item2 {
		@include span(1 of 2 last);
		transition: all 1.5s ease-in-out ;
	}
	.item3 {
		@include span(full last);
		transition: all 1.5s ease-in-out ;
		
	}
	div {
		padding: 5px 0;
	}
}

/*exLarge*/

@include breakpoint($exLarge) {
	.container{
		width:90%;
		margin:0 auto;
	}


	.ag2{
		@include clearfix;
	}
	.item1 {
		@include span(1 of 3);
		transition: all 1.5s ease-in-out ;
	}
	.item2 {
		@include span(1 of 3);
		transition: all 1.5s ease-in-out ;
	}
	.item3 {
		@include span(1 of 3 last);
		transition: all 1.5s ease-in-out ;
		
	}
	div {
		padding: 5px 0;
	}
}
